*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;/*includes border inside the box model rather than outside*/
}
.navbar{
    height:120px;
    background-color:#1A2C4E;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo
{
    height:100px;
    width:100px;
}
.logo
{
    background-image:url(nayepankh_logo.avif) ;
    background-size: contain;
    background-repeat: no-repeat;
    height:100%;
    width:100%;
}
.border:hover{
     border: 2px solid #E8702A;
}
